<launch>

	<arg name="model" default="$(find delta_robot_description)/urdf/robot_model.xacro"/>
 	<arg name="gui" default="true" />

  <arg name="rvizconfig" default="$(find delta_robot_description)/rviz/urdf.rviz" />

	<!-- Parsing xacro and setting robot_description parameter -->
	<param name="robot_description" command="$(find xacro)/xacro $(arg model)" />


	<!-- Starting robot state publish which will publish tf -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

<!--joint state publisher faltante-->
  <node if="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	
	<!-- Launch visualization in rviz -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find delta_robot_description)/config/robot.rviz" required="true" />

</launch>
